*{
margin: 0;
padding: 0;
font-family: /*'Poppins',*/ sans-serif;
box-sizing: border-box;
}
body{
  height: 3000px;
}
span{
  color: rgb(5, 2, 44)
}
.sect1{
  background-image: url(./img/img3.jpg);
  background-position: center ;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.sect2{
  background-color: rgb(32, 78, 116);
  background-position: center ;
  height: 100vh;
  align-items: center;
  
}
.sect3{
  background-color: rgb(35, 60, 80);
  background-position: center ;
  height: 100vh;
  width: 100%; 
}
.nav-barre{
  text-align: right;
  padding-top:  10px;
  padding-right: 40px;
  background-color: rgba(31, 79, 119, 0.158);
  height:43px ;
  position: fixed;
  right: 0;
  left: 0;
}
nav ul li{
display: inline-block;
font-size: 15px;
padding-left: 10px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition:all .2s ;
}
nav ul li a:hover {
  color: rgb(14, 36, 56);
  padding: 8px;
  background-color: rgb(250, 250, 250);
  font-size:15px;
  border-radius: 5px;
  font-weight: 700;
}
.home{
  height: 16px;
  width: 18px;
  margin-right: 5px;
}
.aboutus{
  height: 17px;
  width: 16px;
  margin-right: 5px;
}
.services{
  height: 17px;
  width: 17px;
  margin-right: 5px;
}

.content1{
  /*background-color: rgba(240, 255, 255, 0.329);*/
  float: left;
  display: flex;
  height: 100vh;
  width: 50%;
  align-items: center;
}
.content2{
/*background-color: rgb(119, 163, 123);*/
display:flex;
height: 100vh;
width: 50%;
align-content: center;
align-items: center;
}
h1{
  font-size: 50px;
  font-family: 'poppins';
  color: white;
  margin-bottom: 15px;
}
h4{
  font-size: 20px;
  color: rgb(4, 16, 49);
  font-family: 'poppins;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
h5{
  font-size: 16px;
  color: rgb(4, 16, 49);
  font-family: 'poppins;
  letter-spacing: 1px;
}
.maphoto{
  display: block;
  width: 70%;
  margin: auto;
  border-radius: 30px;
}
/*.me{
  padding-left: 5%;
}*/
