h1
{
    color: brown;
}
body
{
background-color: rgb(255, 255, 255);
}
#carte
{
    width:100%;  
    margin:0 auto;
    background-color: rgb(34, 34, 175);
    text-align: left;
    align-content: center;
}
label
{
    margin-left: 20px;
    display: block;
    float: left;
    width: 130px;
}