*{
    margin: 0px;
    padding: 0px;
    
}
#head_page{
    background-color: rgb(69, 72, 226);
    color: aliceblue;
    padding: 5px;
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
#npara{
    padding-top: 20px;
    padding-left:120px;
    text-align: left;
}
#logo{ 
    float: left;
}
#nav_bare{
    text-align: center;
    height: 30px;
    background-color: rgb(0, 0, 255);
    margin-top: 110px;
    padding: 8px;
    padding-left: 20px;
    color: white;
    font-size: 15px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    
}
nav.menu_bare ul li{
font-size: 15px;
font-family: Arial, Helvetica, sans-serif;
display: inline-block;
font-size: 20px;
font-weight: bold;
}
nav.menu_bare ul li a{
    text-decoration: none;
    color: white;
}
nav.menu_bare ul li:hover a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(6, 4, 48);
    background-color: rgb(172, 172, 185);
    padding: 5px;
    transition: 0.2s all;
}
#deffini{
    margin-top: 150px;
    background-color: transparent;
}
#corp{
    background-color: rgba(152, 158, 182, 0.801);
    /*background: url('img/logo2.png') no-repeat ;*/
    /*background-attachment: fixed;*/
    /*background-size: 65%;
    background-position: center;*/
    /*opacity: 0.2;*/
}   
#bas_page{
    background-color: rgba(69, 71, 226, 0.788);
    color: rgb(23, 5, 71);
    font-family: Arial;
    height: 100px;
    padding: 10px;
    text-align: center;
}
h1{
    text-align: right;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 9px;
    color: rgb(4, 4, 59);
    font-family: 'Times New Roman';

}
.paragra{
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    color: rgb(4, 4, 59);
    font-family: 'Times New Roman';
    font-size: 25px;
}
